.player-column {
    display: flex;
    justify-content: space-between;
}

.player-column__img {
    margin-bottom: 30px;
}

.player-column__img img {
    width: 300px;
    height: 300px;
}

.player-column__img .not-img {
    border-color: white;
}