@import "title-img.css";
@import "sns.css";
@import "title-content.css";
@import "one.css";
@import "two.css";
@import "three.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100&display=swap');

html {
    padding: 0% 3%
}

body {
    height: 100vh;
    padding: 0 10px;
}

.main-box {
    display: flex;
}


