.title-img {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 1750px;
    height: 300px;
}

.title-img__all {
    width: 1750px;
    opacity: 0.8;
    border-radius: 15px;
}