.main-box__two {
    margin-left: 30px;
}

.main-box__two-intro {
    border: 1px solid rgb(177, 171, 171);
    border-radius: 20px;
    width: 800px;
}

.main-box__two-int {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.main-box__two-int-one {
    overflow: hidden;
}

.main-box__two-int-two {
    overflow: hidden;
}

.main-box__two-int-three {
    overflow: hidden;
}

.logo-image img {
    transition: all 0.2s linear;
}

.logo-image:hover img {
    transform: scale(1.05);
}

.logo {
    width: 150px;
    height: 150px;
}

.text {
    text-align: center;
    font-weight: 900;
    font-size: larger;
}

.int-icon {
    text-align: center;
    margin-top: 10px;
}

.int-icon__text {
    font-weight: 800;
    font-size: medium;
}

.main-box__two-rec {
    margin-top: 10px;
}

.main-box__two-rec span {
    font-size: larger;
    font-weight: 800;
}

.tg {
    border-collapse:collapse;
    border-color:#ccc;
    border-spacing:0;
}

.tg td{
    background-color:#fff;
    border-color:#ccc;
    border-style:solid;
    border-width:1px;
    color:#333;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th{
    background-color:#f0f0f0;
    border-color:#ccc;
    border-style:solid;
    border-width:1px;
    color:#333;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-c3ow{
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-lank {
    font-size: 15px;
    font-weight: 600;
}

.tg .tg-7btt{
    border-color:inherit;
    font-weight:bold;
    text-align:center;
    font-size: 17px;
    vertical-align:top
}

.main-box__two-rank {
    width: 800px;
    height: 200px;
    overflow: auto;
    text-align: center;
}


.main-box__two-ranking {
    margin-top: 10px;
}

.main-box__two-ranking span {
    font-size: larger;
    font-weight: 800;
}

.tr-main {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
}